<footer class="footer sectio">
    <div class="footer__container bd-grid">
        <div class="footer__box">
            <h3 class="footer__title">WEECCO
                <span class="blue">.</span>
            </h3>
            <p class="blue footer__description ">We share knowlege</p>
        </div>
    
        <div class="footer__box">
            <h3 class="footer__title">LIENS UTILES</h3>
            <ul>
                <li><a href="/#home" class="footer__link">Accueil</a></li>
                <li><a href="/#featured" class="footer__link">Exclusivité</a></li>
                <li><a href="/#women" class="footer__link">Articles</a></li>
                <li><a href="/#new" class="footer__link">Nouveauté</a></li>
            </ul>
        </div>
    
    
        <div class="footer__box">
            <h3 class="footer__title">SUPPORT</h3>
            <ul>
                <li><a href="#" class="footer__link">Aide produit</a></li>
                <li><a href="#" class="footer__link">Service client</a></li>
                <li><a href="#" class="footer__link">Services autorisés</a></li>
            </ul>
        </div>
    
    
        <div class="footer__box">
            <a href="#" class="footer__social">
                <i class="bx bxl-facebook"></i>
            </a>
            <a href="#" class="footer__social">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="#" class="footer__social">
                <i class="bx bxl-twitter"></i>
            </a>
            <a href="#" class="footer__social">
                <i class="bx bxl-google"></i>
            </a>
        </div>
    
    
    </div>
    
    <p class="footer__copy">&#169; 2022 WEECCO. All right reserved</p></footer><!--===== MAIN JS =====--><script src="/assets/js/main.js"></script></body></html>
    