<!--====== App Content ======-->
<div class="app-content">

    <!--====== Anti Flash White Background ======-->
    <div class="bg-anti-flash-white">

        <!--====== White Container ======-->
        <div class="white-container">

            <div class="u-s-p-b-60">
                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="tab-content">

                            <!--====== Tab 1 : Derniers produits ======-->
                            <div class="tab-pane" id="e-l-p">
                                <div class="slider-fouc">
                                    <div class="owl-carousel tab-slider" data-item="4">
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre1.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    



                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre2.png" alt=""></a>
                                                        <span class="product__status_old">Agé</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 1 ======-->


                            <!--====== Tab 2 : meilleurs ventes ======-->
                            <div class="tab-pane fade show active" id="e-b-s">
                                <div class="slider-fouc">
                                    <div class="owl-carousel tab-slider" data-item="4">
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                                                        
                                                        <img class="aspect__img" src="images/product/books/livre3.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre4.png" alt=""></a>
                                                        <span class="product__status_med">Bon état</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre5.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                           <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre5.png" alt=""></a>
                                                        <span class="product__status_med">Bon état</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre6.png" alt=""></a>
                                                        <span class="product__status_old">Agé</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre7.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 2 ======-->


                            <!--====== Tab 3 : Mieux notés ======-->
                            <div class="tab-pane" id="e-t-r">
                                <div class="slider-fouc">
                                    <div class="owl-carousel tab-slider" data-item="4">

                                    <!--Product card-->
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre5.png" alt=""></a>
                                                        <span class="product__status_old">Agé</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre9.png" alt=""></a>
                                                        <span class="product__status_old">Agé</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 3 ======-->


                            <!--====== Tab 4 : Populaire======-->
                            <div class="tab-pane" id="e-f-p">
                                <div class="slider-fouc">
                                    <div class="owl-carousel tab-slider" data-item="4">
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre1.png" alt=""></a>
                                                        <span class="product__status_med">Bon état</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre2.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre5.png" alt=""></a>
                                                        <span class="product__status_med">Bon état</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre8.png" alt=""></a>
                                                        <span class="product__status_med">Bon état</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre10.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    

                                                </span>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <div class="product-o product-o--hover-on">
                                                <div class="product-o__wrap">
                                                    
                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                        <img class="aspect__img" src="images/product/books/livre3.png" alt=""></a>
                                                        <span class="product__status_new">Neuf</span>
                                                    <div class="product-o__action-wrap">
                                                        <ul class="product-o__action-list">
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Aperçu"><i class="fas fa-search-plus"></i></a></li>
                                                            <li>

                                                                <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Ajouter au panier"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Favoris"><i class="fas fa-heart"></i></a></li>
                                                            <li>

                                                                <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="M'avertir en promo"><i class="fas fa-envelope"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <span class="product-o__category">

                                                    <a href="shop-side-version-2.html">Livres</a></span>

                                                <span class="product-o__name">

                                                    <a href="product-detail.html">When faith fall</a></span>
                                                <div class="product-o__rating gl-rating-style"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span class="product-o__review">(0)</span></div>

                                                <span class="product-o__price"> <a href="/product-detail.html">Wecco ma <i class="fas fa-chevron-right"></i></a> 
                                                    <i class="fa-regular fa-arrow-right"></i>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 4 ======-->
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
        </div>
    </div>
</div>