        <!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/">Home</a></li>
                            <li class="is-marked">

                                <a href="/register">S'inscrire</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">CREER UN COMPTE</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->


        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">VOS INFORMATIONS</h1>
                                <form class="l-f-o__form" method="post" action="/register">
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="reg-fname">PRENOM *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="reg-fname" placeholder="Prénom" name="firstName">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="reg-lname">NOM *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="reg-lname" placeholder="Nom" name="lastName">
                                    </div>
                                    <!-- <div class="gl-inline">
                                        <div class="u-s-m-b-30">

                                            <!--====== Date of Birth Select-Box ======-->
<!-- 
                                            <span class="gl-label">Date de naissance</span>
                                            <div class="gl-dob"><select class="select-box select-box--primary-style">
                                                    <option selected>Mois</option>
                                                    <option value="male">Janvier</option>
                                                    <option value="male">Février</option>
                                                    <option value="male">Mars</option>
                                                    <option value="male">Avril</option>
                                                    <option value="male">Mai</option>
                                                    <option value="male">Juin</option>
                                                    <option value="male">Juillet</option>
                                                    <option value="male">Aout</option>
                                                    <option value="male">Septembre</option>
                                                    <option value="male">Octobre</option>
                                                    <option value="male">Novembre</option>
                                                    <option value="male">Décembre</option>
                                                </select><select class="select-box select-box--primary-style">
                                                    <option selected>Jour</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="04">05</option>
                                                    <option value="04">06</option>
                                                    <option value="04">07</option>
                                                    <option value="04">08</option>
                                                    <option value="04">09</option>
                                                    <option value="04">10</option>
                                                    <option value="04">11</option>
                                                    <option value="04">12</option>
                                                    <option value="04">13</option>
                                                    <option value="04">14</option>
                                                    <option value="04">15</option>
                                                    <option value="04">16</option>
                                                    <option value="04">17</option>
                                                    <option value="04">18</option>
                                                    <option value="04">19</option>
                                                    <option value="04">20</option>
                                                    <option value="04">21</option>
                                                    <option value="04">22</option>
                                                    <option value="04">23</option>
                                                    <option value="04">24</option>
                                                    <option value="04">25</option>
                                                    <option value="04">26</option>
                                                    <option value="04">27</option>
                                                    <option value="04">28</option>
                                                    <option value="04">29</option>
                                                    <option value="04">30</option>
                                                    <option value="04">31</option>
                                                
                                                </select><select class="select-box select-box--primary-style">
                                                    <option selected>Année</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1997">1997</option>
                                                    
                                                </select></div> -->
                                            <!--====== End - Date of Birth Select-Box ======-->
                                        <!-- </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="gender">GENRE</label><select class="select-box select-box--primary-style u-w-100" id="gender">
                                                <option selected>Non spécifié</option>
                                                <option value="male">Homme</option>
                                                <option value="male">Femme</option>
                                            </select></div>
                                    </div> -->
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="reg-telephone">TELEPHONE *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="reg-telephone" placeholder="Saisissez votre Adresse E-mail" name="telephone">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="reg-email">E-MAIL *</label>

                                        <input class="input-text input-text--primary-style" type="email" id="reg-email" placeholder="Saisissez votre Adresse E-mail" name="email">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="reg-password">MOT DE PASSE *</label>

                                        <input class="input-text input-text--primary-style" type="password" id="reg-password" placeholder="Saisissez votre Mot de passe" name="password">
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <button class="btn btn--e-transparent-brand-b-2" type="submit">JE M'INSCRIS</button>
                                    </div>
                                    <div class="gl-s-api">
                                        <div class="u-s-m-b-15">

                                            <button class="gl-s-api__btn gl-s-api__btn--fb" type="button"><i class="fab fa-facebook-f"></i>

                                                <span>S'inscrire avec Facebook</span></button></div>
                                        <div class="u-s-m-b-30">

                                            <button class="gl-s-api__btn gl-s-api__btn--gplus" type="button"><i class="fab fa-google"></i>

                                                <span>S'inscrire avec Google</span></button></div>
                                    </div>

                                    <a class="gl-link" href="/shop">Retourner à la boutique</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
        <!--====== End - App Content ======-->
