/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-bold: 700;
    --font-semi-bold: 600;
    /*===== Colores =====*/
    --dark-color: #141414;
    --dark-color-light: #8a8a8a;
    --dark-color-lighten: #f2f2f2;
    --white-color: #ffffff;
    --blue-color: #00a6ff;
    --first-color: #00a6ff;
    --first-color-dark: #141414;
    --first-color-light: #8a8a8a;
    --first-color-lighten: #F2F2F2;
    /*===== Font and typography =====*/
    --body-font: "Poppins", sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;
    --small-font-size: .813rem;
    /*===== Margenes =====*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-fixed: 100;
    /*===== Rotate img =====*/
    --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px) {
     :root {
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}


/*===== BASE =====*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    line-height: 1.6;
    color: var(--dark-color);
}

.blue {
    font-weight: var(--font-bold);
    color: var(--blue-color);
    font-size: var(--bigger-font-size);
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*===== CLASS CSS ===== */

.section {
    padding: 5rem 0 2rem;
}

.section-title {
    position: relative;
    margin-bottom: var(--mb-4);
    font-size: var(--big-font-size);
    letter-spacing: 0.1rem;
    text-align: center;
}

.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: -1rem;
    right: 0;
    margin: auto;
    width: 8.5vw;
    height: 0.2rem;
    border-radius: 2rem;
    background-color: var(--dark-color);
}


/*===== LAYOUT =====*/

.bd-grid {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--dark-color-lighten);
}

.header__subtext {
    font-size: var(--smaller-font-size);
    color: var(--blue-color);
    text-align: center;
    letter-spacing: 2px;
    margin-top: var(--mb-1);
}


/*===== NAV =====*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__login-button {
    font-size: var(--smaller-font-size);
    background-color: #00a6ff;
    padding: 10px;
    color: white;
    border-radius: 29px;
}

.nav__logout-button {
    font-size: var(--smaller-font-size);
    background-color: #ea221e;
    padding: 10px;
    color: white;
    border-radius: 29px;
}

.rond {
    background-color: red;
    width: 100px;
    height: 10px
}

.Login {
    padding-left: .15rem;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--white-color);
        transition: 0.5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__logo {
    font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__shop {
    font-size: 1.3rem;
    padding-left: 2rem;
    cursor: pointer;
}


/*Show menu*/

.show {
    left: 0;
}


/*Active link*/

.active {
    position: relative;
}

.active::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: var(--blue-color);
    border-radius: 50%;
}


/*Change color header*/

.scroll-header {
    background-color: var(--white-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


/*===== HOME =====*/

.home {
    background-image: url("../img/kids4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top !important;
}

.home__container {
    height: calc(100vh - var(--header-height));
    display: flex;
}

.home__books {
    position: relative;
    padding: 0.856rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.home__shape {
    width: 220px;
    height: 220px;
    background-color: var(--blue-color);
    border-radius: 50%;
    margin-left: 25vw;
    justify-content: center;
}

.home__img {
    position: absolute;
    top: 2rem;
    right: 0.09rem;
    max-width: initial;
    width: 295px;
    transform: var(--rotate-img);
}

.home__new {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.home__title {
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-6);
}

.home__data {
    float: left;
}


/*BUTTONS*/

.button {
    display: inline-block;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 1.125rem 2rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    transform: translateY(-0.25rem);
}

.button-light {
    display: inline-flex;
    color: var(--dark-color);
    font-weight: var(--font-bold);
    align-items: center;
}

.button-icon {
    font-size: 1.25rem;
    margin-left: var(--mb-1);
    transition: 0.3s;
}

.button-light:hover .button-icon {
    transform: translateX(0.25rem);
}


/*===== FEATURED =====*/

.featured__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.books {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--dark-color-lighten);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.books__sale {
    position: absolute;
    left: 0.5rem;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
    letter-spacing: 0.1rem;
}

.books__stat {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: rgb(21, 192, 21);
    color: var(--white-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.1rem;
}

.books__stat-old {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: rgb(255, 94, 0);
    color: var(--white-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.1rem;
}

.books__stat-med {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: rgb(255, 178, 13);
    color: var(--white-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    letter-spacing: 0.1rem;
}

.books__img {
    width: 220px;
    height: 220px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    /* transform: var(--rotate-img); */
    filter: drop-shadow(° 12px 8px rgba(0, 0, 0, 0.2));
}

.books__name,
.books__price {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);
    letter-spacing: 0.1rem;
}

.books__name {
    margin-bottom: var(--mb-1);
}

.books__author {
    margin-bottom: var(--mb-1);
    font-size: var(--smaller-font-size);
}

.books__price {
    margin-bottom: var(--mb-4);
}

.books:hover {
    transform: translateY(-0.5rem);
}

.books__pages {
    margin-top: var(--mb-6);
}

.books__pag {
    padding: 0.5rem 1rem;
    border: 1px solid var(--dark-color);
}

.books__pag:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}


/*===== COLLECTION =====*/

.collection__container {
    row-gap: 2rem;
    justify-content: center;
}

.collection__card {
    position: relative;
    display: flex;
    height: 328px;
    background-color: var(--dark-color-lighten);
    padding: 2rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.collection__data {
    align-self: flex-end;
}

.collection__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}

.collection__name {
    font-size: var(--bigger-font-size);
    margin-bottom: 0.25rem;
}

.collection__description {
    margin-bottom: var(--mb-2);
}

.collection__card:hover {
    transform: translateY(-0.5rem);
}


/*===== WOMEN booksS =====*/

.women__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}


/*===== OFFER =====*/

.offer__container {
    margin-top: var(--mb-3);
    grid-template-columns: 55% 45%;
    column-gap: 0;
    background-color: var(--dark-color-lighten);
    border-radius: 0.5rem;
    justify-content: center;
}

video {
    width: 98.7vw;
    height: 450px;
    object-fit: cover;
}

.offer__data {
    padding: 4rem 0 4rem 1.5rem;
}

.offer__title {
    font-style: var(--bigger-font-size);
    margin-bottom: 0.25rem;
}

.offer__description {
    margin-bottom: var(--mb-2);
    padding: 0 var(--mb-3) var(--mb-3) var(--mb-3);
    line-height: 20px;
    text-align: center;
}

.offer__description1 {
    margin-bottom: var(--mb-3);
    padding-right: var(--mb-3);
    padding-top: var(--mb-4);
    padding-left: var(--mb-3);
    font-size: 40px;
    line-height: auto;
    text-align: center;
}

.offer__description2 {
    padding-right: var(--mb-3);
    padding-left: var(--mb-3);
    font-size: 20px;
    text-align: center;
}

.offer__img {
    width: 153px;
}


/*===== NEW COLLECTION  =====*/

.new__container {
    row-gap: 2rem;
}

.new__mens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-color-lighten);
    border-radius: 0.5rem;
    padding: 2rem;
}

.new__mens-img {
    width: 276px;
    margin-bottom: var(--mb-3);
}

.new__title {
    font-size: var(--bigger-font-size);
    margin-bottom: 0.25rem;
}

.new__price {
    display: block;
    margin-bottom: var(--mb-3);
}

.new__books {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new__books-card {
    position: relative;
    padding: 3.5rem 1.5rem;
    background-color: var(--dark-color-lighten);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.new__books-img {
    width: 220px;
}

.new__books-overlay {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 138, 138, 0.3);
    transition: 0.3s;
}

.new__books-card:hover .new__books-overlay {
    bottom: 0;
}


/*===== NEWSLETTER =====*/

.newsletter__container {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 2rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.newsletter__title {
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-2);
}

.newsletter__description {
    margin-bottom: var(--mb-5);
}

.newsletter__suscribe {
    display: flex;
    column-gap: 0.5rem;
    background-color: var(--white-color);
    padding: 0.9rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.newsletter__input {
    outline: none;
    border: none;
    width: 90%;
    font-size: var(--normal-font-size);
}

.newsletter__button {
    width: 250px;
}

.newsletter__input::placeholder {
    color: var(--dark-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.newsletter__button {
    width: 250px;
}


/*===== FOOTER =====*/

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__box {
    margin-bottom: var(--mb-4);
}

.footer__title {
    font-size: var(--big-font-size);
}

.footer__link {
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}

.footer__social {
    font-size: 1.5rem;
    margin-right: 1.25rem;
}

.footer__copy {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: var(--smaller-font-size);
    color: var(--dark-color-light);
    text-align: center;
}

.footer__description {
    font-size: var(--smaller-font-size);
    color: var(--blue-color);
}


/* ===== DROPDOWN=====*/


/* .dropdown{
  position: relative;
  display: inline-block;
  background-color: var(--blue-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--white-color);
  margin: .5rem;
} */


/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 576px) {
    .collection__container {
        grid-template-columns: 415px;
    }
    .collection__img {
        width: 260px;
    }
    .offfer__container {
        grid-template-columns: max-content max-content;
    }
    .offer__data {
        text-align: center;
    }
    .new__mens {
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding: 7rem 0 3rem;
    }
    .section-title::after {
        width: 76px;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu {
        margin-left: auto;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .home__container {
        height: 100vh;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
    }
    .home__books {
        order: 1;
    }
    .home__shape {
        width: 376px;
        height: 376px;
    }
    .homme__img {
        width: 470px;
        top: 3.5em;
        right: 0;
        left: -3rem;
    }
    .newsletter__container {
        grid-template-columns: auto max-content;
        justify-content: center;
        align-items: center;
        padding: 4.5rem 2rem;
        column-gap: 3rem;
    }
    .newsletter__description {
        margin-bottom: 0;
    }
    .newsletter__suscribe {
        width: 360px;
        height: max-content;
    }
}

@media screen and (max-width: 960px) {
    .nav__login-button {
        display: none;
    }
    .nav__logout-button {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .home__container {
        column-gap: 8rem;
    }
    .collection__container {
        grid-template-columns: repeat(2, 415px);
    }
    .new__container {
        grid-template-columns: max-content 1fr;
    }
    .new__mens {
        align-items: initial;
        justify-content: flex-end;
        padding: 4rem 2rem;
    }
    .new__mens-img {
        margin-bottom: var(--mb-6);
    }
}


/*===== HEADER CARROUSSEL =====*/

.header__title {
    padding-right: var(--mb-3);
    padding-top: var(--mb-4);
    padding-left: var(--mb-3);
    font-size: var(--bigger-font-size);
    text-align: center;
}

.header__subtitle {
    padding-right: var(--mb-3);
    padding-top: var(--mb-4);
    padding-left: var(--mb-3);
    font-size: var(--normal-font-size);
    font-weight: var(--smaller-font-size);
    color: var(--white-color);
    text-align: center;
}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing-demo {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--body-font);
    padding: 0;
    color: white;
    font-size: 4vmin;
}

.typing-demo span {
    display: inline-block;
    animation: blink 1s steps(5, end) infinite;
    color: var(--blue-color);
    font-size: 6vmin;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/*===== LOGIN =====*/

.login {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login__content {
    display: grid;
}

.login__img {
    justify-self: center;
}

.login__img img {
    width: 310px;
    margin-top: 1.5rem;
}

.login__forms {
    position: relative;
    height: 368px;
}

.login__registre,
.login__create {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    background-color: var(--first-color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: animate-login;
}

@keyframes animate-login {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.login__title {
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}

.login__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login__icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

.login__input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--first-color-dark);
}

.login__input::placeholder {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--first-color-light);
}

.login__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--first-color-light);
}

.login__button {
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--first-color);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login__button:hover {
    background-color: var(--first-color-dark);
}

.login__account,
.login__signin,
.login__signup {
    font-weight: 600;
    font-size: var(--small-font-size);
}

.login__account {
    color: var(--first-color-dark);
}

.login__signin,
.login__signup {
    color: var(--first-color);
    cursor: pointer;
}

.login__social {
    margin-top: 2rem;
}

.login__social-icon {
    font-size: 1.5rem;
    color: var(--first-color-dark);
    margin: 0 1.5rem;
}


/*Show login*/

.block {
    display: block;
}


/*Hidden login*/

.none {
    display: none;
}


/* ===== MEDIA QUERIES =====*/

@media screen and (min-width: 576px) {
    .login__forms {
        width: 348px;
        justify-self: center;
    }
}

@media screen and (min-width: 1024px) {
    .login {
        height: 100vh;
        overflow: hidden;
    }
    .white__title {
        color: white;
    }
    .login__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }
    .login__img {
        display: flex;
        width: 600px;
        height: 588px;
        background: url("../img/kids5.jpg");
        border-radius: 1rem;
        padding-left: 1rem;
    }
    .login__img img {
        width: 390px;
        margin-top: 0;
    }
    .login__registre,
    .login__create {
        left: -11rem;
    }
    .login__registre {
        bottom: -2rem;
    }
    .login__create {
        bottom: -5.5rem;
    }
}