<%- include('../layouts/header'); -%>
    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home" id="home">

            <div class="wrapper">
                <div class="typing-demo">
                    <em class="blue header__title ">WECCOL</em>
                    <span style="color: white">SEY LIVRES.</span>
                    <em class="blue header__title ">Share Knowlege.</em>
                </div>

            </div>
            <p class="header__subtitle">Ensemble, sauvons la planète.</p>
        </section>

        <!--===== FEATURED =====-->


        <section class="featured section" id="featured">
            <h2 class="section-title">EXCLUSIVITE</h2>
            <div class="featured__container bd-grid">
                <article class="books">
                    <div class="books__sale">En stock</div>
                    <div class="books__stat">Neuf</div>
                    <img src="/assets/img/livre1.png" alt="imageFeatured" class="books__img">
                    <span class="books__name">When faith fall</span>
                    <span class="books__author">Dominic DOME</span>
                    <span class="books__price">25 000 XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>

                <article class="books">
                    <div class="books__sale">En stock</div>
                    <div class="books__stat">Neuf</div>
                    <img src="/assets/img/livre4.png" alt="imageFeatured" class="books__img">
                    <span class="books__name">Where did you go ?</span>
                    <span class="books__author">Christina Rasmussen</span>
                    <span class="books__price">10 500 XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>

                <article class="books">
                    <div class="books__sale">En stock</div>
                    <div class="books__stat">Neuf</div>
                    <img src="/assets/img/livre5.png" alt="imageFeatured" class="books__img">
                    <span class="books__name">Yes, you can</span>
                    <span class="books__author">Bryan Collins</span>
                    <span class="books__price">14 750 XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>
            </div>

        </section>


        <!--===== WOMEN booksS =====-->
        <section class="woman section" id="women">
            <h2 class="section-title">SELECTION DU MOIS</h2>

            <div class="women__container bd-grid">
                <article class="books">
                    <div class="books__stat">Neuf</div>
                    <img src="/assets/img/livre6.png" alt="imageFeatured" class="books__img">
                    <span class="books__name">This is a book</span>
                    <span class="books__author">This is a author name</span>
                    <span class="books__price">18 900  XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>

                <article class="books">
                    <img src="/assets/img/livre2.png" alt="imageFeatured" class="books__img">
                    <div class="books__stat-med">Bon etat</div>
                    <span class="books__name">This is a book</span>
                    <span class="books__author">This is a author name</span>
                    <span class="books__price">7 900  XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>

                <article class="books">
                    <img src="/assets/img/livre10.png" alt="imageFeatured" class="books__img">
                    <div class="books__stat-old">Agé</div>
                    <span class="books__name">This is a book</span>
                    <span class="books__author">This is a author name</span>
                    <span class="books__price">3 900  XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>

                <article class="books">
                    <img src="/assets/img/livre4.png" alt="imageFeatured" class="books__img">
                    <div class="books__stat">Neuf</div>
                    <span class="books__name">This is a book</span>
                    <span class="books__author">This is a author name</span>
                    <span class="books__price">10 500  XOF</span>
                    <a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
                </article>
            </div>
        </section>

        <!--===== OFFER =====-->
        <section class="offer section">

            <h2 class="section-title">WECCOL SEY LIVRES
            </h2>

            <video controls="controls" />
            <source src="/./assets/video/vid.mp4" type="video/mp4">
            </video>

            <p class="offer__description1">Chacune de nos lectures laisse une graine qui germe.</p>
            <p class="blue offer__description2">Facilitons l’accès aux livres à notre jeunesse d’aujourd’hui pour assurer la relève de demain</p>

        </section>

        <!--===== NEW COLLECTION =====-->
        <section class="new section" id="new">
            <h2 class="section-title">NOUVEAUTE</h2>

            <div class="new__container bd-grid">
                <div class="new__mens">
                    <img src="/assets/img/livre6.png" alt="" class="new__mens-img">
                    <h3 class="new__title">Nouvel arrivage</h3>
                    <span class="new__price">A partir de 5 000 XOF</span>
                    <a href="#" class="button-light">
						Découvrir
						<i class="bx bx-right-arrow-alt button-icon"></i>
					</a>
                </div>

                <div class="new__books">
                    <div class="new__books-card">
                        <img src="/assets/img/livre2.png" alt="" class="new__books-img">
                        <div class="new__books-overlay">
                            <a href="#" class="button">Wecco ma</a>
                        </div>
                    </div>

                    <div class="new__books-card">
                        <img src="/assets/img/livre7.png" alt="" class="new__books-img">
                        <div class="new__books-overlay">
                            <a href="#" class="button">Wecco ma</a>
                        </div>
                    </div>

                    <div class="new__books-card">
                        <img src="/assets/img/livre8.png" alt="" class="new__books-img">
                        <div class="new__books-overlay">
                            <a href="#" class="button">Wecco ma</a>
                        </div>
                    </div>

                    <div class="new__books-card">
                        <img src="/assets/img/livre9.png" alt="" class="new__books-img">
                        <div class="new__books-overlay">
                            <a href="#" class="button">Wecco ma</a>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <!--===== NEWSLETTER =====-->
        <section class="newsletter section">
            <div class="newsletter__container bd-grid">
                <div>
                    <h3 class="newsletter__title">
                        Inscrivez-vous à notre newsletter
                        <br> et recevez des offres exclusives !</h3>
                    <p class="newsletter__description">Obtenez des coupons allant jusqu'à -70%</p>
                </div>

                <form action="" class="newsletter__suscribe">
                    <input type="text" placeholder="@email.com" class="newsletter__input">
                    <a href="#" class="button">Je m'inscris</a>
                </form>

            </div>
        </section>
        </body>

        </html>
    </main>
    <!--===== FOOTER =====-->
    <%- include('../layouts/footer'); -%>
