<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="assets/css/styles.css">
    
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>WEECCO - Trading books</title>
    </head>
    <body>
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    
                </div>

                <div class="login__forms">
                    <form action="/login" method="post" class="login__registre" id="login-in">
                        <h1 class="login__title">Se connecter</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="email" placeholder="Email" class="login__input" name="email">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Mot de passe" class="login__input" name="password">
                        </div>

                        <a href="#" class="login__forgot">Mot de passe oublié?</a>

                        <button type="submit"  class="btn login__button">Se connecter</button>

                        <div>
                            <span class="login__account">Vous n'avez pas de compte ?</span>
                            <span class="login__signin" id="sign-up">Je m'inscris</span>
                        </div>
                    </form>

                    <form action="/register" method="post" class="login__create none" id="login-up">
                        <h1 class="login__title">Bienvenue</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Prénom" class="login__input" name="firstName" id="firstName">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Nom" class="login__input" name="lastName" id="lastName">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" placeholder="Email" class="login__input" name="email">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Telephone" class="login__input" name="telephone" id="telephone">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Mot de passe" class="login__input" name="password">
                        </div>

                        <button type="submit"  class="btn login__button">S'inscrire</button>

                        <div>
                            <span class="login__account">Vous avez déjà un compte ?</span>
                            <span class="login__signup" id="sign-in">Se connecter</span>
                        </div>

                        <div class="login__social">
                            <a href="#" class="login__social-icon"><i class='bx bxl-facebook' ></i></a>
                            <a href="#" class="login__social-icon"><i class='bx bxl-twitter' ></i></a>
                            <a href="#" class="login__social-icon"><i class='bx bxl-google' ></i></a>
                        </div>
                    </form>

                    
                    
                </div>
            </div>
        </div>

        <!--===== MAIN JS =====-->
        <script src="assets/js/main.js"></script>
    </body>
</html>