<%- include('../layouts/header'); -%>
			<!--===== ALL PRODUCTS =====-->
            <main
			    class="l-main">
			<section class="featured section" id="shop">
				<h2 class="section-title">Inscription</h2>
                <form method="post" action="/register">
                    <div class="form-group">
                        <label for="firstName">Prenom</label>
                        <input type="text" class="form-control" id="firsName" aria-describedby="emailHelp" placeholder="Entrez votre Prenom" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nom</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Entrez votre Prenom" name="lastName">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Telephone</label>
                        <input type="text" class="form-control" id="telephone" aria-describedby="emailHelp" placeholder="Entrez votre Telephone" name="telephone">
                    </div>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
				
			</section>
		</main>

		<!--===== FOOTER =====-->

<%- include('../layouts/footer'); -%>