<%- include('../layouts/header'); -%>
			<!--===== ALL PRODUCTS =====-->
			<section class="featured section" id="shop">
				<h2 class="section-title">Tous nos articles</h2>
				<div class="featured__container bd-grid">
					<article class="books">
						<img src="/assets/img/livre1.png" alt="imageFeatured" class="books__img">
						<span class="books__name">This is a book</span>
						<span class="books__author">This is a author name</span>
						<span class="books__price">18 900  XOF</span>
						<a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
					</article>

					<article class="books">
						<img src="/assets/img/livre2.png" alt="imageFeatured" class="books__img">
						<span class="books__name">This is a book</span>
						<span class="books__author">This is a author name</span>
						<span class="books__price">18 900  XOF</span>
						<a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
					</article>

					<article class="books">
						<img src="/assets/img/livre3.png" alt="imageFeatured" class="books__img">
						<span class="books__name">This is a book</span>
						<span class="books__author">This is a author name</span>
						<span class="books__price">18 900  XOF</span>
						<a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
					</article>

					<article class="books">
						<img src="/assets/img/livre4.png" alt="imageFeatured" class="books__img">
						<span class="books__name">This is a book</span>
						<span class="books__author">This is a author name</span>
						<span class="books__price">18 900  XOF</span>
						<a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
					</article>

					<article class="books">
						<img src="/assets/img/livre5.png" alt="imageFeatured" class="books__img">
						<span class="books__name">This is a book</span>
						<span class="books__author">This is a author name</span>
						<span class="books__price">18 900  XOF</span>
						<a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
					</article>

					<article class="books">
						<img src="/assets/img/livre6.png" alt="imageFeatured" class="books__img">
						<span class="books__name">This is a book</span>
						<span class="books__author">This is a author name</span>
						<span class="books__price">18 900  XOF</span>
						<a href="" class="button-light">Wecco
							<i class="bx bx-right-arrow-alt button-icon"></i>
						</a>
					</article>

				</div>

				<div class="books__pages bd-grid">
					<div>
						<span class="books__pag">1</span>
						<span class="books__pag">2</span>
						<span class="books__pag">&#8594;
						</span>
					</div>
				</div>

			</section>
		</main>

		<!--===== FOOTER =====-->

<%- include('../layouts/footer'); -%>