<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page envoie message</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sapiente possimus quae expedita, sit eveniet, modi dicta quasi, temporibus iste nobis saepe? Soluta ratione delectus quos nihil, fugiat consequuntur blanditiis!</p>
</body>
</html>